@import "global.css";

/* 파티탭메뉴 css */
.nav.nav-pills {
	margin: 50px 30px;
	justify-content: center;
}

.nav-pills .nav-item {
	margin-right: 5px;
}

.nav-pills .nav-link.active {
	background-color: var(--primary-color);
	padding: 3px 6px;
}

.nav-pills .nav-link {
	padding: 3px 6px;
	background-color: lightgrey;
	color: #212529;
}

.nav-pills .nav-link:hover {
	background-color: var(--primary-color);
	color: var(--primary-color-text);
}

/* full calendar css */
a {
	color: black;
}

#external-events {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}

#external-events .fc-event {
    cursor: move;
    margin: 3px 0;
}

#calendar {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.calendarSaveBtn {
	margin-top: 20px;
}

.calendarSaveBtn .btn-outline-primary {
	display: block;
	margin: 0 auto;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.calendarSaveBtn .btn-outline-primary:hover {
	color: var(--primary-color-text);
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
}

.fc-scroller-harness {
	cursor: pointer;
}

th.fc-col-header-cell.fc-day.fc-day-sun > a {
	color: red;
}