@import "global.css";

/*캐러셀*/
.carousel-indicators .active {
    width: 30px !important;
    height: 3px !important;
}

.carousel-item img {
    object-fit: cover;
}

/*검색창*/
.search-wrapper {
    margin-top: 40px;
    max-width: 800px;
    position: relative;
}

#search-bar {
    min-width: 500px;
    transition: all ease-in-out .2s;
    border-radius: 0 !important;
}

.search-active {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-bottom: 1px solid #fff;
}

#search-bar:active {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-bottom: 1px solid #fff;
}

#search-bar:focus {

}

.hide {
    display: none !important;
}

.search-ul {
    position: absolute;
    top: 53px;
    z-index: 3;
    background-color: #fff;
    width: 100%;
    border: 1px solid #dedede;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    padding-bottom: 16px;
}

.search-ul li {
    list-style: none;
    padding: 14px 24px;
}

.search-ul a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-ul li:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-ul li:hover{
    background-color: #DEFDBE;
}

.search-ul .left-box{
    display: flex;
    align-items: center;
}

.search-ul .thumb-box {
    width: 52px;
    height: 34px;
}

.thumb-box img{
    width: 100%;
    display: block;
    height: 100%;
}

.left-box span{
    text-decoration: none;
    color:var(--primary-text-color) !important;
}

.right-box span:first-child{
    margin-right: 5px;
}

.search-btn {
    color: var(--secondary-text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: inherit;
    border: unset;
    outline: none;
}

.search-wrapper form {
    width: 100%;
}

.search-wrapper input {
    /*border-radius: 10rem;*/
    border: 1px solid var(--primary-color);
    padding: 14px 24px;
}

.search-wrapper input:focus {
    outline: unset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    border: 1px solid #dedede;
    background-color: #fff;
}

/* 나의 파티 */
.header {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.header h4 {
    display: inline-block;
    font-weight: bold;
}

.header .icon {
    margin-left: 5px;
}

.header i {
    font-size: 1.5rem;
}

/*더 둘러보기 스와이퍼*/
.swiper {
    width: 100%;
}

.swiper-wrapper {
    max-height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    max-height: 300px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
}