@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*:focus {
    outline: none;
}

/*body {
  margin: 0;
  padding: 10%;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}*/

.login-box {
    height: 80%;
}

.wrapper {
    position: relative;
    width: 768px;
    height: 480px;
    border-radius: 10px;
}

.left {
    position: absolute;
    width: 50%;
    height: 100%;
}

.right {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    position: absolute;
    overflow: hidden;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
}

.textbox {
    text-align: center;
}

.display-4 {
    font-family: 'Do Hyeon', sans-serif;
}

