@import "global.css";


/* 나의 파티 */
.header {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.header h4 {
    display: inline-block;
    font-weight: bold;
}

.btn-wrapper {

}

.mypage-btn {
    box-shadow: 0 2px 3px rgb(0 10 18 / 10%), 0 0 0 1px rgb(0 10 18 / 10%);
}

.mypage-btn:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
}

.btn-primary {
    border-color: var(--primary-color);
    background-color: var(--primary-color-dark);
    color: var(--primary-color-text);
}

.btn-primary:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);

}

.btn-outline-secondary:hover {
    border-color: var(--bs-danger);
    background-color: var(--bs-danger);
    color: var(--primary-color-text);
}

/*더 둘러보기 스와이퍼*/
.swiper {
    width: 100%;
}

.swiper-wrapper {
    max-height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    max-height: 300px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
}