@import "global.css";

/* 나의 파티 */
.header {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.header h4 {
    display: inline-block;
    font-weight: bold;
}

.party-container {
    background-color: red !important;
}

.btn-wrapper {

}

.mypage-btn {
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
}

.mypage-btn:hover {
    box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.btn-primary {
    border-color: var(--primary-color);
    background-color: var(--primary-color-dark);
    color: var(--primary-color-text);
}

.btn-primary:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.btn-outline-secondary:hover {
    border-color: var(--bs-danger);
    background-color: var(--bs-danger);
    color: var(--primary-color-text);
}

/* 프로필 설정 */

.img-profile {
    width: 100px;
    height: 100px;
    background-color: red;
}