@import "global.css";

/* 나의 파티 */
.header {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.header h4 {
    display: inline-block;
    font-weight: bold;
}

.party-container {

}

.btn-wrapper {

}

.mypage-btn {
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
}

.mypage-btn:hover {
    box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.btn-primary {
    border-color: var(--primary-color);
    background-color: var(--primary-color-dark);
    color: var(--primary-color-text);
}

.btn-primary:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.btn-outline-secondary:hover {
    border-color: var(--bs-danger);
    background-color: var(--bs-danger);
    color: var(--primary-color-text);
}

/* 프로필 설정 */
.profile-box {
    border: 1px solid #efefef;
    padding: 2rem;
}

.img-profile img {
    width: 220px;
    height: auto;
}

.label-nickname {
    font-weight: bold;
}

.input-nickname {
    max-width: 220px;
}

.input-nickname:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(76 175 80/ 25%);
}

.accordion-button:focus {
    border: none;
}

.accordion-button:not(.collapsed) {
    color: var(--primary-text-color);
    background-color: white;
}