@import "global.css";

/* 파티메인페이지 시작 */
/* 파티메인페이지 메뉴바 css */
.page-item .page-link {
	color: black;
}

.page-item .page-link:hover {
	color: var(--primary-color-text);
	background-color: var(--primary-color);
}

.page-item.active .page-link {
	color: var(--primary-color-text);
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.page-item.active .page-link:hover {
	color: var(--primary-color-text);
	background-color: var(--primary-color);
}

.nav.nav-pills {
	margin: 50px 30px;
	justify-content: center;
}

.nav-pills .nav-item {
	margin-right: 5px;
}

.nav-pills .nav-link.active {
	background-color: var(--primary-color);
	padding: 3px 6px;
}

.nav-pills .nav-link {
	padding: 3px 6px;
	background-color: lightgrey;
	color: #212529;
}

.nav-pills .nav-link:hover {
	background-color: var(--primary-color);
	color: var(--primary-color-text);
}

.container-party {
	width: 100%;
	display: flex;
}

.partyImage {
	width: 50%;
}

.partyInfo {
	width: 50%;
}

.partyInfo-content {
	margin: 0 auto;
	text-align: center;
}

.partyImage img {
	height: 400px;
	width: 500px;
	box-shadow: 5px 1px 10px 5px #cccccc;
	display: block;
	margin: 0 auto;
}

.partyCalendar {
	position: relative;
	right: 0px;
}

h5 {
	text-align: center;
	margin: 0 auto;
	width: fit-content;
	color: var(--primary-color);
	font-weight: 600;
	text-shadow: 1px 1px 1px gray;
}

.partyInfo-content-title {
	margin-top: 10px;
}

.partyInfo-content-title>p {
	margin: 20px 0px;
}
/* 파티메인페이지 끝 */

/* 파티메인 파티관리페이지 시작 */
body {
	height: 100vh;
}

h4 {
	font-weight: 600;
}

.header {
	display: flex;
	align-items: baseline;
	margin-bottom: 20px;
}

.profile-box {
	border: 1px solid #efefef;
	padding: 2rem;
}

.container-partyProfileImg {
	width: 30vw;
	height: 50vh;
	margin-right: 40px;
}

.container-partyProfileName {
	width: 15vw;
}

/* 파티정보 */
.container-partyInfoChange {
	display: flex;
	align-items: baseline;
}

.container-partyInfoCategory {
	display: flex;
	margin-left: 50px;
}

.container-partyInfoLocation {
	margin-left: 20px;
}

.container-partyMainProfileChange>.form-select {
	cursor: pointer;
}

.container>.btn.btn-primary.mt-4.save-btn {
	text-align: center;
}

.btn.btn-outline-primary {
	margin-right: 40px;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.btn.btn-outline-primary:hover {
	color: var(--primary-color-text);
	background-color: var(--primary-color);
}

.img-fluid {
	max-width: 100%;
	height: 90%;
}

.align-self-baseline.label-partyname {
	font-size: 20px;
	font-weight: 600;
}

.btn.btn-primary.mt-4.save-btn {
	background-color: var(--primary-color-text);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.btn.btn-primary.mt-4.save-btn:hover {
	color: var(--primary-color-text);
	background-color: var(--primary-color);
}

.form-control.input-partyname.mt-2 {
	text-overflow: ellipsis;
}

/* 검색창 */
input::-webkit-search-cancel-button {
	display: none;
}

.search-wrapper {
	max-width: 500px;
	position: relative;
	margin-right: 100px;
}

.search-btn {
	color: var(--secondary-text-color);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	background-color: inherit;
	border: unset;
	outline: none;
}

.search-wrapper form {
	width: 100%;
}

.search-wrapper input {
	border-radius: 10rem;
	border: 1px solid var(--primary-color);
	padding: 14px 20px;
	text-overflow: ellipsis;
}

.searchButton {
	margin: 0 auto;
}
/* 파티메인 파티관리페이지 끝 */

/* 파티메인 파티원 조회 페이지 시작 */

/* 파티메인 파티원 조회 끝 */

/* 파티메인 포토갤러리 시작 */
.inner-container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--divider-color);
}


.page-item .page-link:hover {
  color: var(--primary-color-text);
  background-color: var(--primary-color);

.inner-container.container-title {
	font-size: 20px;
	font-weight: 600;
}

.album.py-5>.btn.btn-primary.mt-4.save-btn {
	float: right;
}

.album.py-5 .mt-4 {
	margin-top: none;
}

/* 파티메인 포토갤러리 끝 */

/* 파티메인 포토갤러리 글쓰기 시작 */
.container-sm>.nav.nav-pills {
	justify-content: flex-start;
}

.container-lg.d-flex.justify-content-center {
	width: 100vw;
}

.container-partyProfileImg {
	width: 25vw;
}

textarea {
	width: 20vw;
	height: 45vh;
	border: 1px solid black;
	resize: none;
}

/* 파티메인 포토갤러리 글쓰기 끝 */