@import "global.css";

.inner-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--divider-color);
}

.dropdown-search {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 0 1rem .5rem 1rem;
    border: none;
    border-bottom: 1px solid #ddd;
}

.dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-text);

}

.dropdown-search:focus {
    outline: none;
}