<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.myapp.mapper.MyPartyMapper">

	<delete id="quitParty">
		DELETE
		FROM PARTYUSER
		WHERE EMAIL = #{email} and PARTYCODE = #{partyCode}
	</delete>

	<select id="getList" resultType="com.pm.myapp.domain.MyPartyVO">

		SELECT P.PARTYCODE, P.PARTYNAME, P.PARTYSCORE, P.CREATEDATE, P.LOGOPIC 
		FROM PARTY P
		JOIN PARTYUSER U
		ON P.PARTYCODE = U.PARTYCODE
		WHERE U.EMAIL = #{email}

	</select>

	<insert id="makeParty">

		INSERT INTO PARTY(PARTYCODE, PARTYNAME, PARTYSCORE, CREATEDATE, LOGOPIC, COVERPIC, PARTYPROFILE, PARTYBANNED, HOBBYCODE, LOCALCODE)
		VALUES(#{partyCode}, #{partyName}, 0, sysdate, null, null, #{partyProfile}, 0, #{hobbyCode}, #{localCode})

	</insert>
	

</mapper>