<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.myapp.mapper.PartyMapper">
    
    <select id="checkIt" resultType="com.pm.myapp.domain.PartyMemberCheckVO">
    
    SELECT PARTYCODE
    FROM PARTYUSER
    <![CDATA[ 
    	WHERE EMAIL = #{email} AND AUTHCODE > 0
    ]]>

    </select>
    
    <select id="getInfo" resultType="com.pm.myapp.domain.PartyVO">

        SELECT COUNT(*) count,
               P.PARTYCODE,
               P.PARTYNAME,
               P.PARTYSCORE,
               P.CREATEDATE,
               P.LOGOPIC,
               P.COVERPIC,
               P.PARTYPROFILE,
               P.PARTYBANNED,
               L.LOCALNAME,
               H.HOBBYNAME
        FROM PARTYUSER u
                 JOIN PARTY p ON u.PARTYCODE = p.partycode
                 JOIN HOBBY h ON p.HOBBYCODE = h.HOBBYCODE
                 JOIN LOCALINFO l ON l.LOCALCODE = p.LOCALCODE
        WHERE P.PARTYCODE = #{partyCode}
        GROUP BY P.PARTYCODE, P.PARTYNAME, P.PARTYSCORE, P.CREATEDATE, P.LOGOPIC, P.COVERPIC, P.PARTYPROFILE, P.PARTYBANNED,
                 L.LOCALNAME, H.HOBBYNAME

    </select>

    <insert id="makeJoin">

    INSERT INTO PARTYUSER(EMAIL, PARTYCODE, AUTHCODE)
    VALUES(#{email}, #{partyCode}, -1)

    </insert>

    <delete id="deleteJoin">

    DELETE FROM PARTYUSER
    WHERE EMAIL=#{email}
    AND PARTYCODE=#{partyCode}

    </delete>
    
    <update id="modifyLogo" parameterType="hashMap">
    
    UPDATE PARTY
    SET LOGOPIC = #{fileLocation}
    WHERE PARTYCODE = #{partyCode}

    </update>
    
    <update id="modifyMainImage" parameterType="hashMap">
    
    UPDATE PARTY
    SET COVERPIC = #{fileLocation}
    WHERE PARTYCODE = #{partyCode}

    </update>
    
    <update id="modifyInfo">
    
    UPDATE PARTY
    SET PARTYNAME = #{partyName},
    PARTYPROFILE = #{partyProfile},
    LOCALCODE = #{localCode},
    HOBBYCODE = #{hobbyCode}
    WHERE PARTYCODE = #{partyCode}

    </update>
    
    <update id="makeDesPartyReq">
    
    UPDATE PARTY
    SET PARTYBANNED = -1
    WHERE PARTYCODE = #{partyCode}

    </update>
    
    <update id="delegatePL">
    
    UPDATE PARTYUSER
    SET AUTHCODE = #{authCode}
    WHERE EMAIL = #{email}
    AND PARTYCODE = #{partyCode}

    </update>
    
    <update id="upgradeJoin">
    
    UPDATE PARTYUSER
    SET AUTHCODE = 1
    WHERE EMAIL = #{email}
    AND PARTYCODE = #{partyCode}

    </update>
    
    <select id="getMember" resultType="com.pm.myapp.domain.PartyUserVO">
    
    <![CDATA[ 
    SELECT U.NICKNAME, U.USERPIC
    FROM (SELECT * FROM PARTYUSER
    WHERE PARTYCODE = #{partyCode}
    ORDER BY AUTHCODE DESC) T
    JOIN USERINFO U
    ON T.EMAIL = U.EMAIL
    WHERE T.AUTHCODE > 0
    OFFSET (#{cri.currPage}-1) * #{cri.amount} ROWS
	FETCH NEXT #{cri.amount} ROWS ONLY
    ]]>
    
    </select>
    
    <select id="getPartyMN" resultType="int">
    
    <![CDATA[ 
    SELECT COUNT(U.NICKNAME)
    FROM (SELECT * FROM PARTYUSER
    WHERE PARTYCODE = #{partyCode}
    ORDER BY AUTHCODE DESC) T
    JOIN USERINFO U
    ON T.EMAIL = U.EMAIL
    WHERE T.AUTHCODE > 0
    ]]>
    
    </select>
    
    

</mapper>