<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.myapp.mapper.PartyMapper">
    
    <select id="getInfo" resultType="com.pm.myapp.domain.PartyVO">
    
    SELECT P.PARTYCODE, P.PARTYNAME, P.PARTYSCORE, P.CREATEDATE, P.LOGOPIC,
    	   P.COVERPIC, P.PARTYPROFILE, P.PARTYBANNED, L.LOCALNAME, H.HOBBYNAME
    FROM PARTY P
    JOIN HOBBY H
    ON P.HOBBYCODE = H.HOBBYCODE
    JOIN LOCALINFO L
    ON P.LOCALCODE = L.LOCALCODE
    WHERE P.PARTYCODE =  #{PARTYCODE}

    </select>

    <insert id="makeJoin">

    INSERT INTO PARTYUSER(EMAIL, PARTYCODE, AUTHCODE)
    VALUES(#{email}, #{partyCode}, -1)

    </insert>

    <delete id="deleteJoin">

    DELETE FROM PARTYUSER
    WHERE EMAIL=#{email}
    AND PARTYCODE=#{partyCode}

    </delete>
    
    <update id="modifyLogo">
    
    UPDATE PARTY
    SET LOGOPIC = #{logoPIC}
    WHERE PARTYCODE = #{PARTYCODE}

    </update>
    
    <update id="modifyInfo">
    
    UPDATE PARTY
    SET PARTYNAME = #{partyName},
    PARTYPROFILE = #{partyProfile},
    LOCALCODE = #{localCode},
    HOBBYCODE = #{hobbyCode}
    WHERE PARTYCODE = #{partyCode}

    </update>
    
    <update id="makeDesPartyReq">
    
    UPDATE PARTY
    SET PARTYBANNED = -1
    WHERE PARTYCODE = #{partyCode}

    </update>
    
    <update id="delegatePL">
    
    UPDATE PARTYUSER
    SET AUTHCODE = #{authCode}
    WHERE EMAIL = #{email}
    AND PARTYCODE = #{partyCode}

    </update>
    
    <update id="upgradeJoin">
    
    UPDATE PARTYUSER
    SET AUTHCODE = 1
    WHERE EMAIL = #{email}
    AND PARTYCODE = #{partyCode}

    </update>
    
    <select id="getMember" resultType="com.pm.myapp.domain.PartyUserVO">
    
    <![CDATA[ 
    SELECT U.NICKNAME, U.USERPIC
    FROM (SELECT * FROM PARTYUSER
    WHERE PARTYCODE = #{partyCode}
    ORDER BY AUTHCODE DESC) T
    JOIN USERINFO U
    ON T.EMAIL = U.EMAIL
    WHERE T.AUTHCODE > 0
    ]]>
    
    </select>
    
    

</mapper>