<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.myapp.mapper.xxxMapper">

	<!-- SELECT/INSERT/UPDATE/DELETE 각각의 SQL문장을 저장하는 태그가 이미 준비되어 있다.(DTD에) -->
	<select id="getList">
	<!-- id : xxxMapper 인터페이스에 포함된 메서드 이름과 같게 -->
	<!-- resultType : 반환받는 타입 >> DTO, VO 일시엔 domain뒤로 인터페이스 이름 입력  -->
		
	</select>


	<insert id="insert">

	</insert>


	<update id="update">

	</update>


	<delete id="delete">

	</delete>


</mapper>