<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.myapp.mapper.board.FreeBoardMapper">

    <select id="getListWithPaging" resultType="com.pm.myapp.domain.board.FreeBoardListVO">
        
        <![CDATA[
			SELECT
			    F.frefer, F.fsubject, F.fdate, U.nickname, F.readnum
			FROM FREEBOARD F
			JOIN USERINFO U ON F.email = U.email
			ORDER BY frefer desc
			OFFSET (#{currPage}-1) * #{amount} ROWS
			FETCH NEXT #{amount} ROWS ONLY
		]]>

    </select>

    <select id="readFreeBoard" resultType="com.pm.myapp.domain.board.FreeBoardVO">
        SELECT
            F.frefer, F.fsubject,F.fcontent, F.fdate, U.nickname, F.freephoto, F.readnum
        FROM FREEBOARD F
        JOIN USERINFO U ON F.email = U.email
        WHERE F.frefer = #{frefer}

    </select>

    <insert id="registerFreeBoard">

        INSERT INTO FREEBOARD(FREFER, FSUBJECT, FCONTENT, fdate, EMAIL, FREEPHOTO, READNUM)
        VALUES(SEQ_FREEBOARD.nextval, #{fSubject}, #{fContent}, sysdate, #{email}, #{freePhoto}, 0)

    </insert>


    <select id="getTotalCount" resultType="Integer">

            SELECT COUNT(frefer)
            FROM FREEBOARD

    </select>

    <update id="updateFreeBoard">
        UPDATE FREEBOARD
        SET
            FSUBJECT = #{fSubject},
            FCONTENT = #{fContent},
            FREEPHOTO = #{freePhoto}
        WHERE FREFER = #{fRefer}
    </update>


    <select id="searchFreeBoard" resultType="com.pm.myapp.domain.board.FreeBoardSearchVO">
     <![CDATA[
        SELECT F.FREFER, F.FSUBJECT, F.FDATE, U.EMAIL, U.NICKNAME
        FROM FREEBOARD F
                 JOIN USERINFO U ON F.EMAIL = U.EMAIL
                WHERE F.FSUBJECT LIKE #{keyword} ORDER BY FREFER DESC
                OFFSET (#{cri.currPage}-1) * #{cri.amount} ROWS
                FETCH NEXT #{cri.amount} ROWS ONLY
        ]]>
    </select>

    <delete id="deleteFreeBoard">
        DELETE
        FROM FREEBOARD
        WHERE FREFER=#{frefer}

    </delete>

    <select id="getCommentListPaging" resultType="com.pm.myapp.domain.board.FreeBoardReplyVO">
        <![CDATA[
             SELECT
                FRE.frerefer, FRE.frecontent, FRE.fredate, FRE.frefer, U.nickname
             FROM FREEBOARDRE FRE
             JOIN USERINFO U ON FRE.email = U.email
             WHERE frefer = #{frefer}
             ORDER BY frerefer desc
             OFFSET (#{cri.currPage}-1) * #{cri.amount} ROWS
             FETCH NEXT #{cri.amount} ROWS ONLY
         ]]>

     </select>

    <insert id="writeComment">

        INSERT INTO FREEBOARDRE(frerefer, frecontent, fredate, frefer, email)
        VALUES(SEQ_FREEBOARDRE.nextval, #{frecontent}, sysdate, #{frefer}, #{email})


    </insert>


    <select id="getTotalReply" resultType="int">
        <![CDATA[
        SELECT COUNT(frerefer)
        FROM FREEBOARDRE
        WHERE frerefer > 0
        ]]>
    </select>

    <update id="editComment">
        UPDATE FREEBOARDRE
        SET
            FRECONTENT = #{frecontent}
        WHERE FREREFER = #{frerefer}
    </update>


    <delete id="deleteComment">
        DELETE
        FROM FREEBOARDRE
        WHERE FREREFER=#{frerefer}

    </delete>

</mapper>