<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.myapp.mapper.board.FreeBoardMapper">

    <select id="getListWithPaging" resultType="com.pm.myapp.domain.board.FreeBoardListVO">

            SELECT
                F.fRefer, F.fSubject, F.fContent, F.fDate, F.email, U.nickname, F.readnum
            FROM FREEBOARD F
            JOIN USERINFO U
            ON F.email = U.email
            <choose>
                <when test="searchWord==null">
                </when>
                <when test="option==1">
                    WHERE F.FCONTENT like '%'||#{searchWord}||'%'
                    OR F.FSUBJECT like '%'||#{searchWord}||'%'
                    OR U.NICKNAME like '%'||#{searchWord}||'%'
                </when>
                <when test="option==2">
                    WHERE U.NICKNAME like '%'||#{searchWord}||'%'
                </when>
                <when test="option==3">
                     WHERE F.FSUBJECT like '%'||#{searchWord}||'%'
                </when>
                <when test="option==4">
                    WHERE F.FCONTENT like '%'||#{searchWord}||'%'
                </when>
                </choose>
                    ORDER BY FREFER DESC
                    OFFSET (#{cri.currPage}-1) * #{cri.amount} ROWS
                    FETCH NEXT #{cri.amount} ROWS ONLY

    </select>

    <select id="readFreeBoard" resultType="com.pm.myapp.domain.board.FreeBoardVO">
        SELECT
            F.frefer, F.fsubject,F.fcontent, F.fdate, U.nickname, F.email, F.freephoto, F.readnum
        FROM FREEBOARD F
        JOIN USERINFO U ON F.email = U.email
        WHERE F.frefer = #{frefer}

    </select>

    <select id="getPhoto" resultType="String">
        SELECT FREEPHOTO
        FROM FREEBOARD
        WHERE FREFER = #{fRefer}
    </select>



    <insert id="registerFreeBoard">

        INSERT INTO FREEBOARD(FREFER, FSUBJECT, FCONTENT, fdate, EMAIL, freephoto, READNUM)
        VALUES(SEQ_FREEBOARD.nextval, #{fSubject}, #{fContent}, sysdate, #{email}, '-', 0)

    </insert>

    <!-- 총 게시물 개수 -->
    <select id="getTotalCount" resultType="Integer">

        SELECT COUNT(F.FREFER)
        FROM FREEBOARD F
        JOIN USERINFO U
        ON F.EMAIL = U.EMAIL
        <choose>
            <when test="searchWord==null">
            </when>
            <when test="option==1">
                WHERE F.FCONTENT like '%'||#{searchWord}||'%'
                OR F.FSUBJECT like '%'||#{searchWord}||'%'
                OR U.NICKNAME like '%'||#{searchWord}||'%'
            </when>
            <when test="option==2">
                WHERE U.NICKNAME like '%'||#{searchWord}||'%'
            </when>
            <when test="option==3">
                WHERE F.FSUBJECT like '%'||#{searchWord}||'%'
            </when>
            <when test="option==4">
                WHERE F.FCONTENT like '%'||#{searchWord}||'%'
            </when>
        </choose>


    </select>

    <update id="updateFreeBoard">
        UPDATE FREEBOARD
        SET
            FSUBJECT = #{fSubject},
            FCONTENT = #{fContent},
            FREEPHOTO = #{freePhoto}
        WHERE FREFER = #{fRefer}
    </update>

    <update id="readIt">
        UPDATE FREEBOARD
        SET READNUM = READNUM + 1
        WHERE FREFER = #{frefer}
    </update>

    <!-- 페이징 처리된 목록 조회 -->
    <select id="searchFreeBoard" resultType="com.pm.myapp.domain.board.FreeBoardSearchVO">

        SELECT F.FREFER, F.FSUBJECT, F.FCONTENT, F.FDATE, U.EMAIL, U.NICKNAME, F.READNUM
        FROM FREEBOARD F
        JOIN USERINFO U ON F.EMAIL = U.EMAIL
        WHERE
        <choose>
            <when test = "option == '1'">
                U.NICKNAME LIKE CONCAT('%', #{keyword}, '%')
                OR F.FCONTENT LIKE CONCAT('%', #{keyword}, '%')
                OR F.FSUBJECT LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test = "option == '2">
                U.NICKNAME LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test = "option == '3'">
                F.FSUBJECT LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test = "option == '4'">
                F.FCONTENT LIKE CONCAT('%', #{keyword}, '%')
            </when>
        </choose>
        OFFSET (#{cri.currPage}-1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY

    </select>


    <!-- 총 게시물 개수 -->
    <select id = "getTotalSearchCount" resultType = "Integer">

        SELECT COUNT(F.FREFER)
        FROM FREEBOARD F
        JOIN USERINFO U ON F.EMAIL = U.EMAIL
        WHERE
        <choose>
            <when test = "option == '1'">
                U.NICKNAME LIKE CONCAT('%', #{keyword}, '%')
                OR F.FCONTENT LIKE CONCAT('%', #{keyword}, '%')
                OR F.FSUBJECT LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test = "option == '2">
                U.NICKNAME LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test = "option == '3'">
                F.FSUBJECT LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test = "option == '4'">
                F.FCONTENT LIKE CONCAT('%', #{keyword}, '%')
            </when>
        </choose>

    </select>

    <delete id="deleteFreeBoard">
        DELETE
        FROM FREEBOARD
        WHERE FREFER=#{frefer}
    </delete>

    <select id="getCommentListPaging" resultType="com.pm.myapp.domain.board.FreeBoardReplyDTO">
        <![CDATA[
            SELECT
                FRE.frerefer, FRE.frecontent, FRE.fredate, FRE.frefer, U.nickname, FRE.email
            FROM FREEBOARDRE FRE
            JOIN USERINFO U ON FRE.email = U.email
            WHERE frefer = #{frefer}
            ORDER BY frerefer desc
            OFFSET (#{recri.reCurrPage}-1) * #{recri.reAmount} ROWS
            FETCH NEXT #{recri.reAmount} ROWS ONLY
        ]]>

     </select>

    <insert id="writeComment">
        INSERT INTO FREEBOARDRE(frerefer, frecontent, fredate, frefer, email)
        VALUES(SEQ_FREEBOARDRE.nextval, #{frecontent}, sysdate, #{frefer}, #{email})
    </insert>


    <select id="getTotalFreeReply" resultType="int">
        <![CDATA[
            SELECT COUNT(frerefer)
            FROM FREEBOARDRE
            WHERE frefer = #{frefer}
        ]]>
    </select>

    <update id="editComment">
        UPDATE FREEBOARDRE
        SET
            FRECONTENT = #{frecontent}
        WHERE FREFER = #{frefer}
    </update>


    <delete id="deleteComment">
        DELETE
        FROM FREEBOARDRE
        WHERE FREFER=#{frefer}
    </delete>

</mapper>