<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.myapp.mapper.board.NoticeBoardMapper">

    <select id="getListWithPaging" resultType="com.pm.myapp.domain.board.NoticeBoardListVO">
        <![CDATA[
                SELECT
                    N.nrefer, n.nsubject, n.ndate, u.nickname, n.readnum
                FROM NOTICEBOARD N
                JOIN USERINFO U ON N.EMAIL = U.EMAIL
                OFFSET (#{currPage}-1) * #{amount} ROWS
                FETCH NEXT #{amount} ROWS ONLY
            ]]>
    </select>

    <select id="readNoticeBoard" resultType="com.pm.myapp.domain.board.NoticeBoardVO">
        SELECT n.nrefer, n.nsubject, n.ncontent, n.ndate, u.nickname, n.readnum
        FROM NOTICEBOARD N
        JOIN USERINFO U ON N.email = U.email
        WHERE NREFER = #{nrefer}

    </select>


    <insert id="writeNoticeBoard">

        INSERT INTO NOTICEBOARD(NREFER, NSUBJECT, NCONTENT, NDATE, NICKNAME, EMAIL, READNUM)
        VALUES(SEQ_NOTICEBOARD.nextval, #{nsubject}, #{ncontent}, sysdate, 'admin', #{email}, 0)

    </insert>

    <select id="getTotalCount" resultType="int">
        <![CDATA[
            SELECT COUNT(nrefer)
            FROM NOTICEBOARD
            WHERE nrefer > 0

        ]]>

    </select>

    <select id = "searchNoticeBoard" resultType="com.pm.myapp.domain.board.NoticeBoardSearchVO">

        SELECT N.NREFER, N.NSUBJECT, N.NCONTENT, N.NDATE, U.EMAIL ,U.NICKNAME
        FROM NOTICEBOARD N
        JOIN USERINFO U ON N.EMAIL = U.EMAIL
        WHERE
        <choose>
        <when test = "option == '1'">
            U.NICKNAME LIKE CONCAT('%', #{keyword}, '%')
            OR N.NCONTENT LIKE CONCAT('%', #{keyword}, '%')
            OR N.NSUBJECT LIKE CONCAT('%', #{keyword}, '%')
        </when>
        <when test = "option == '2">
            U.NICKNAME LIKE CONCAT('%', #{keyword}, '%')
        </when>
        <when test = "option == '3'">
            N.NSUBJECT LIKE CONCAT('%', #{keyword}, '%')
        </when>
        <when test = "option == '4'">
            N.NCONTENT LIKE CONCAT('%', #{keyword}, '%')
        </when>
        </choose>
        OFFSET (#{cri.currPage}-1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY

    </select>

    <!-- 검색 게시물 조회 -->
    <select id = "getTotalSearchCount" resultType = "Integer">

        SELECT COUNT(N.NREFER)
        FROM NOTICEBOARD N
        JOIN USERINFO U ON N.EMAIL = U.EMAIL
        WHERE
        <choose>
            <when test = "option == '1'">
                U.NICKNAME LIKE CONCAT('%', #{keyword}, '%')
                OR F.FCONTENT LIKE CONCAT('%', #{keyword}, '%')
                OR F.FSUBJECT LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test = "option == '2">
                U.NICKNAME LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test = "option == '3'">
                N.NSUBJECT LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test = "option == '4'">
                N.NCONTENT LIKE CONCAT('%', #{keyword}, '%')
            </when>
        </choose>

    </select>

    <update id="editNoticeBoard">
        UPDATE NOTICEBOARD
        SET
            NSUBJECT = #{nSubject},
            NCONTENT = #{nContent}
        WHERE NREFER = #{nRefer}
    </update>

    <delete id="deleteNoticeBoard">
        DELETE
        FROM NOTICEBOARD
        WHERE NREFER=#{nrefer}
    </delete>


</mapper>